div {
    text-align: center;
    border-radius: 25px;
}

div.a {
    background-color: #66c2ff;
}
div.b {
    background-color: #48522c;
}

img {
    border-radius: 100px;
}

body {
    background-color: darkgray;
}

