div {
    text-align: center;
    border-radius: 25px;
    margin: auto;
}

div.a {
    background-color: #66c2ff;
}
div.b {
    background-color: #00ff00;
}
div.c {
    width: 50%;
}


img {
    border-radius: 100px;
}

body {
    background-color: darkgray;
}

